PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://codeforge_user:codeforge_password@localhost:5432/codeforge_db?schema=public"



JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d

JUDGE0_API_URL=http://192.168.64.2:2358
JUDGE0_API_KEY=

FRONTEND_URL=http://localhost:3000